.my-title {
    font-family: "Poppins", "Segoe UI", Roboto, Arial;
    font-weight: 600;
    font-size: 3rem;
    color: #2d1b69;
    margin-top: 5rem;
}


body {
    background:
      radial-gradient(
        circle at 60% 45%,
        #d6b8ff 0%,         /* brighter lavender center */
        #7b2ff7 55%,        /* saturated purple */
        #5320a5 100%        /* deep violet outer edge */
      ),
      radial-gradient(
        circle at 0% 100%,  /* bottom-left glow */
        rgb(243, 159, 214) 0%,   /* stronger magenta-pink glow */
        rgba(109, 80, 255, 0.473)   40%     /* fade out smoothly */
      ),
      linear-gradient(
        150deg,
      rgba(58, 41, 129, 0.7) 60%,   /* visible violet overlay */
      rgba(0, 0, 0, 0) 70%
      );
    background-blend-mode: screen;
      min-height: 100vh;
      margin: 0;
}

.my-card {
  width: 15rem;
  margin: 3rem auto;
  text-align: center;
}


.outer-card {
  background: rgba(190, 150, 255, 0.4);
  border-radius: 25px;
  padding: 1rem; 
  box-shadow: 0 15px 40px rgba(128, 0, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;      
  margin: 3rem auto; 
  box-shadow:
    -15px 20px 40px rgba(54, 23, 121, 0.45),  /* purple shadow down-left */
    -5px 10px 20px rgba(68, 15, 104, 0.76); 
}

.outer-card {
  transition: transform 0.2s ease;
}

.outer-card:hover {
  transform: translateY(-5px);
}

.inner-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  height: 100%;
  box-shadow:
    0 4px 12px rgba(128, 0, 255, 0.2),
    0 0 30px rgba(170, 130, 255, 0.25);
  box-sizing: border-box;
}

.inner-card h3 {
  color: #4b0082;
  margin-bottom: 1rem;
}

.my-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

